In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("simulation_results.csv", sep=',', 
                  names=["Patient ID", "CTAS Level", 
                         "Arrival Time", "Departure Time", "LOS",
                         "Triage Waiting Time", "ED Waiting Time",
                         "Medication Waiting Time", "Inpatient Waiting Time", 
                         "Triage Waiting Room Length", "ED Waiting Room Length",
                         "Medication Waiting Room Length", "Inpatient Waiting Room Length"
                        ])

In [3]:
df[1000:1010]

,Patient ID,CTAS Level,Arrival Time,Departure Time,LOS,Triage Waiting Time,ED Waiting Time,Medication Waiting Time,Inpatient Waiting Time,Triage Waiting Room Length,ED Waiting Room Length,Medication Waiting Room Length,Inpatient Waiting Room Length
1000,1001,0,705.904038,0.000000,-705.904038,0.0,0.0,0.000000,0.0,1,1,9,1
1001,1002,1,705.915864,715.713126,9.797263,0.0,0.0,0.000000,0.0,1,1,9,1
1002,1003,5,706.241868,731.428923,25.187055,0.0,0.0,2.930711,0.0,1,1,9,1
1003,1004,0,707.916638,0.000000,-707.916638,0.0,0.0,0.000000,0.0,1,1,9,1
1004,1005,1,708.503616,720.699015,12.195400,0.0,0.0,0.000000,0.0,1,1,9,1
1005,1006,1,709.212848,784.301501,75.088653,0.0,0.0,2.081304,0.0,1,1,9,1
1006,1007,1,710.507379,791.341759,80.834380,0.0,0.0,1.673631,0.0,1,1,9,1
1007,1008,4,711.275693,791.819719,80.544026,0.0,0.0,1.549653,0.0,1,1,9,1
1008,1009,0,711.297665,0.000000,-711.297665,0.0,0.0,0.000000,0.0,1,1,9,1
1009,1010,5,713.391136,737.039055,23.647919,0.0,0.0,2.612185,0.0,1,1,9,1

In [4]:
# sum_los_ctas_i_iii = 0
# sum_los_ctas_iv_v = 0
count_ctas_i_iii = 0
count_ctas_iv_v = 0

# for item in df.values:
#     if item[5] > 0: 
#         if int(item[1]) in [1, 2, 3]:
#             count_ctas_i_iii += 1
#             sum_los_ctas_i_iii += item[5]
#         elif int(item[1]) in [4, 5]:
#             count_ctas_iv_v += 1
#             sum_los_ctas_iv_v += item[5]
#         else:
#             print(item[1])
            
los_vals_ctas_i_iii = []
los_vals_ctas_iv_v = []

for ctas, los in zip(df["CTAS Level"], df["LOS"]):
    if los > 0:
        if int(ctas) in [1, 2, 3]:
            count_ctas_i_iii += 1
            los_vals_ctas_i_iii.append(los)
        elif int(ctas) in [4, 5]:
            count_ctas_iv_v += 1
            los_vals_ctas_iv_v.append(los)
    
avg_los_ctas_i_iii = sum(los_vals_ctas_i_iii)/count_ctas_i_iii
avg_los_ctas_iv_v = sum(los_vals_ctas_iv_v)/count_ctas_iv_v

print(count_ctas_i_iii, avg_los_ctas_i_iii/60, count_ctas_iv_v, avg_los_ctas_iv_v/60)

38646 0.6606896504318952 14019 1.1016571821539