In [6]:
import pandas as pd

In [7]:
# df = pd.read_csv("simulation_results.csv", sep=',', 
#                   names=["Patient ID", "CTAS Level", "Tests",
#                          "Arrival Time", "Departure Time", "LOS",
#                          "Triage Waiting Time", "ED Waiting Time",
#                          "Medication Waiting Time", "Inpatient Waiting Time", 
#                          "Triage Waiting Room Length", "ED Waiting Room Length",
#                          "Medication Waiting Room Length", "Inpatient Waiting Room Length"
#                         ])

In [8]:
df = pd.read_csv("../simulation_results.csv", sep=r",(?![^\[]*\])")

/var/folders/3j/3p_dzlvs1nsdfryf9hm7gjnr0000gn/T/ipykernel_10966/3152665141.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../simulation_results.csv", sep=r",(?![^\[]*\])")

In [9]:
df[:5]

,Patient ID,CTAS Level,Tests,Arrival Time,Departure Time,LOS,Triage Waiting Time,ED Waiting Time,Medication Waiting Time,Inpatient Waiting Time,Triage Waiting Room Length,ED Waiting Room Length,Medication Waiting Room Length,Inpatient Waiting Room Length
0,1,1,['ED Blood Test'],0.000000,22.564901,22.564901,0.0,0.0,0.000000,0.0,1,1,9,1
1,2,5,"['Triage ECG', 'Triage Urine', 'Triage X-Ray']",0.365564,101.528271,101.162708,0.0,0.0,1.936929,0.0,1,1,9,1
2,3,0,[],1.462743,0.000000,-1.462743,0.0,0.0,0.000000,0.0,1,1,9,1
3,4,0,[],1.532924,0.000000,-1.532924,0.0,0.0,0.000000,0.0,1,1,9,1
4,5,1,['ED CT'],1.899614,71.369191,69.469577,0.0,0.0,0.000000,0.0,1,1,9,1

In [10]:
df.columns = df.columns.str.lstrip()
df.columns

Index(['Patient ID', 'CTAS Level', 'Tests', 'Arrival Time', 'Departure Time',
       'LOS', 'Triage Waiting Time', 'ED Waiting Time',
       'Medication Waiting Time', 'Inpatient Waiting Time',
       'Triage Waiting Room Length', 'ED Waiting Room Length',
       'Medication Waiting Room Length', 'Inpatient Waiting Room Length'],
      dtype='object')

In [11]:
# sum_los_ctas_i_iii = 0
# sum_los_ctas_iv_v = 0
count_ctas_i_iii = 0
count_ctas_iv_v = 0

# for item in df.values:
#     if item[5] > 0: 
#         if int(item[1]) in [1, 2, 3]:
#             count_ctas_i_iii += 1
#             sum_los_ctas_i_iii += item[5]
#         elif int(item[1]) in [4, 5]:
#             count_ctas_iv_v += 1
#             sum_los_ctas_iv_v += item[5]
#         else:
#             print(item[1])
            
los_vals_ctas_i_iii = []
los_vals_ctas_iv_v = []

for ctas, los in zip(df["CTAS Level"], df["LOS"]):
    if float(los) > 0:
        if int(ctas) in [1, 2, 3]:
            count_ctas_i_iii += 1
            los_vals_ctas_i_iii.append(los)
        elif int(ctas) in [4, 5]:
            count_ctas_iv_v += 1
            los_vals_ctas_iv_v.append(los)
    
avg_los_ctas_i_iii = sum(los_vals_ctas_i_iii)/count_ctas_i_iii
avg_los_ctas_iv_v = sum(los_vals_ctas_iv_v)/count_ctas_iv_v

print(count_ctas_i_iii, avg_los_ctas_i_iii/60, count_ctas_iv_v, avg_los_ctas_iv_v/60)

8058 1.4214869915439723 3981 1.5123788009236183